node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts
.idea


contracts/Lock.sol
README.md
deploy-and-verify.txt
hardhat.config.js.orig
scripts/deploy.ts
scripts/deploy.js
test/Lock.ts
tasks/faucet.js